.burger {
	cursor: pointer;
	width: 40px;
	height: 30px;
	background: #cccccc;
	margin: 10px;
	position: relative;
	padding: 5px 5px 0 5px;
}

.burger div {
	background: red;
	height: 5px;
	width: 40px;
	margin-bottom: 5px;
}

.burger .first,
.burger .second,
.burger .third,
.burger .fourth {
	transition: all .5s;
    -webkit-transition: all .5s;
}

.burger .third {
	position: absolute;
	margin-bottom: 0;
	top: 15px;
}

/* .burger:hover .second {
	transform: rotate(45deg);
}

.burger:hover .first,
.burger:hover .fourth {
	transform: scale(0);
}

.burger:hover .third {
	transform: rotate(-45deg);
	
} */

.burger.open .second {
	transform: rotate(45deg);
}

.burger.open .first,
.burger.open .fourth {
	transform: scale(0);
}

.burger.open .third {
	transform: rotate(-45deg);
	
}