/* General */

body {
	margin: 0;
}

header {
	background: #ddd;
}

header .header_wrapper {
	min-height: 100px;
}

header h1 {
	float: left;
}

header .burger {
	float: right;
}

header nav {
	clear: both;
   	width: 100%;
   	text-align: center;
   	background: grey;
   	display: none;
   	transition: all .5s;
    -webkit-transition: all .5s;
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

label {
	cursor: pointer;
}

footer {
	text-align: right;
}

footer ul {
	list-style: none;
	margin: 0;
	padding: 0;

}

footer ul li {
	display: inline;
}


section,
input[type="radio"] {
	display: none;
}

footer {
	padding-top: 50px;
}


/* Burger */

.burger {
	cursor: pointer;
	width: 40px;
	height: 30px;
	background: #cccccc;
	margin: 10px;
	position: relative;
	padding: 5px 5px 0 5px;
}

.burger div {
	background: #443f48;
	height: 5px;
	width: 40px;
	margin-bottom: 5px;
}

.burger .first,
.burger .second,
.burger .third,
.burger .fourth {
	transition: all .5s;
    -webkit-transition: all .5s;
}

.burger .third {
	position: absolute;
	margin-bottom: 0;
	top: 15px;
}

/* Content visibility */

#chkb {
	display: none;
}

#chkb:checked~header .header_wrapper .burger .second {
	transform: rotate(45deg);
}

#chkb:checked~header .header_wrapper .burger .first,
#chkb:checked~header .header_wrapper .burger .fourth {
	transform: scale(0);
}

#chkb:checked~header .header_wrapper .burger .third {
	transform: rotate(-45deg);
	
}



#chkb:checked~header nav {
	display: block
}


#page1:checked~#content_1,
#page2:checked~#content_2,
#page3:checked~#content_3,
#inp_about:checked~#content_about {
	display: block;
}


#page1:checked~header nav label[for="page1"],
#page2:checked~header nav label[for="page2"],
#page3:checked~header nav label[for="page3"]  {
	color: #ffffff;
}